{"openapi":"3.1.1","info":{"title":"Twenty Api","description":"Use this page to explore and call the **REST API**. \n\n## Authentication\n\nSend a Bearer token with each request:\n\n```http\nAuthorization: Bearer <token>\n```\n\nExample cURL:\n\n```bash\ncurl -H 'Authorization: Bearer <token>' <server>/rest/core/companies\n```\n\nTokens can be generated in Settings → Playground and are workspace-scoped.\n\n\n## Filters\n\nUse the `filter` query parameter to narrow results.\n\n- Format: `field[COMPARATOR]:value`\n- Multiple conditions: `field1[eq]:1,field2[gte]:10` (root conjunction is AND)\n- Composite fields: `field.subField[COMPARATOR]:value`\n- Common comparators: `eq`, `neq`, `in`, `containsAny`, `is`, `gt`, `gte`, `lt`, `lte`, `startsWith`, `like`, `ilike`\n\nExamples:\n\n```text\nfilter=status[eq]:\"open\"\nfilter=createdAt[gte]:\"2024-01-01\"\nfilter=owner.name[ilike]:\"%smith%\"\nfilter=id[in]:[\"id-1\",\"id-2\"]\nfilter=deletedAt[is]:NULL\nfilter=isActive[eq]:true\n```\n\nAdvanced (optional): `and(...)`, `or(...)`, `not(...)` (`not` wraps one condition)\n\n```text\nfilter=or(status[eq]:\"open\",assigneeId[is]:NULL)\n```\n\nNotes: Strings and dates are quoted; numbers are not.\n\n## Pagination and ordering\n\nAll list endpoints use cursor-based pagination.\n\n- Use **limit** to cap page size (default: 60, max: 60).\n- Use **starting_after** to fetch the next page (forward).\n- Use **ending_before** to fetch the previous page (backward).\n- Responses include **pageInfo** with `hasNextPage`, `startCursor`, and `endCursor`.\n\nExamples:\n\n```bash\n# First page\ncurl -H 'Authorization: Bearer <token>' \\\n  '<server>/rest/core/companies?limit=60'\n\n# Next page\ncurl -H 'Authorization: Bearer <token>' \\\n  '<server>/rest/core/companies?limit=60&starting_after=<endCursorFromPreviousPage>'\n\n# Previous page\ncurl -H 'Authorization: Bearer <token>' \\\n  '<server>/rest/core/companies?limit=60&ending_before=<startCursorFromCurrentPage>'\n```\n\nYou can combine pagination with filters and ordering.\n\nOrdering with `order_by`:\n- Shape: `field1,field2[DIRECTION2]`\n- Directions: AscNullsFirst, AscNullsLast, DescNullsFirst, DescNullsLast\n- Default per-field direction: AscNullsFirst\n\nExamples:\n```text\norder_by=createdAt\norder_by=id[AscNullsFirst],createdAt[DescNullsLast]\n```\n\n## Usage with LLMs\n\nYou can use AI to generate code based on the OpenAPI schema with the following URLs:\n\n```text\nCore: https://api.twenty.com/rest/open-api/core?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzNmJmNjIzNy0yZDBkLTRlMDgtYTVkNS01MGVhMGNmZGI2NmYiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiMzZiZjYyMzctMmQwZC00ZTA4LWE1ZDUtNTBlYTBjZmRiNjZmIiwiaWF0IjoxNzU4NzAxMjYzLCJleHAiOjQ5MTIyMTQ4NjEsImp0aSI6ImU4YjY1Yzc2LTdlNWItNDIyYi1iNmE2LTZmOGQ1Y2I1OGJlYyJ9.9Aj5ud5WpFTg4kjk7eWu3gleFqFRFv1ooSYT6-Mnwu0\nMetadata: https://api.twenty.com/rest/open-api/metadata?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzNmJmNjIzNy0yZDBkLTRlMDgtYTVkNS01MGVhMGNmZGI2NmYiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiMzZiZjYyMzctMmQwZC00ZTA4LWE1ZDUtNTBlYTBjZmRiNjZmIiwiaWF0IjoxNzU4NzAxMjYzLCJleHAiOjQ5MTIyMTQ4NjEsImp0aSI6ImU4YjY1Yzc2LTdlNWItNDIyYi1iNmE2LTZmOGQ1Y2I1OGJlYyJ9.9Aj5ud5WpFTg4kjk7eWu3gleFqFRFv1ooSYT6-Mnwu0\n```\n\nQuick prompt example (Cursor or any agent):\n\n```text\nHere is an OpenAPI schema for the Twenty REST API:\nhttps://api.twenty.com/rest/open-api/core?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzNmJmNjIzNy0yZDBkLTRlMDgtYTVkNS01MGVhMGNmZGI2NmYiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiMzZiZjYyMzctMmQwZC00ZTA4LWE1ZDUtNTBlYTBjZmRiNjZmIiwiaWF0IjoxNzU4NzAxMjYzLCJleHAiOjQ5MTIyMTQ4NjEsImp0aSI6ImU4YjY1Yzc2LTdlNWItNDIyYi1iNmE2LTZmOGQ1Y2I1OGJlYyJ9.9Aj5ud5WpFTg4kjk7eWu3gleFqFRFv1ooSYT6-Mnwu0\n\nUse it to list companies created after 2024-01-01, ordered by createdAt desc, and include only 20 results.\n```\n\nNotes:\n- Treat the token like a secret; prefer a short-lived Playground token.\n- Most editors can fetch and process the schema even if it's large.\n","termsOfService":"https://github.com/twentyhq/twenty?tab=coc-ov-file#readme","contact":{"email":"felix@twenty.com"},"license":{"name":"AGPL-3.0","url":"https://github.com/twentyhq/twenty?tab=License-1-ov-file#readme"},"version":"v0.1"},"servers":[{"url":"https://api.twenty.com/rest/","description":"Production Development"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Enter the token with the `Bearer: ` prefix, e.g. \"Bearer abcde12345\"."}},"schemas":{"Attachment":{"type":"object","description":"An attachment","properties":{"fullPath":{"type":"string","description":"Attachment full path"},"name":{"type":"string","description":"Attachment name"},"authorId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"},"type":{"type":"string","description":"Attachment type"}},"example":{"name":"Attachment name"}},"AttachmentForUpdate":{"type":"object","description":"An attachment","properties":{"fullPath":{"type":"string","description":"Attachment full path"},"name":{"type":"string","description":"Attachment name"},"authorId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"},"type":{"type":"string","description":"Attachment type"}},"example":{"name":"Attachment name"}},"AttachmentForResponse":{"type":"object","description":"An attachment","properties":{"fullPath":{"type":"string","description":"Attachment full path"},"id":{"type":"string","format":"uuid","description":"Id"},"name":{"type":"string","description":"Attachment name"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"authorId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"},"type":{"type":"string","description":"Attachment type"},"author":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Attachment author"},"task":{"type":"object","oneOf":[{"$ref":"#/components/schemas/TaskForResponse"}],"description":"Attachment task"},"note":{"type":"object","oneOf":[{"$ref":"#/components/schemas/NoteForResponse"}],"description":"Attachment note"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"Attachment person"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"Attachment company"},"opportunity":{"type":"object","oneOf":[{"$ref":"#/components/schemas/OpportunityForResponse"}],"description":"Attachment opportunity"}}},"Blocklist":{"type":"object","description":"Blocklist","properties":{"handle":{"type":"string","description":"Handle"},"workspaceMemberId":{"type":"string","format":"uuid"}},"example":{}},"BlocklistForUpdate":{"type":"object","description":"Blocklist","properties":{"handle":{"type":"string","description":"Handle"},"workspaceMemberId":{"type":"string","format":"uuid"}},"example":{}},"BlocklistForResponse":{"type":"object","description":"Blocklist","properties":{"id":{"type":"string","format":"uuid","description":"Id"},"handle":{"type":"string","description":"Handle"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"workspaceMemberId":{"type":"string","format":"uuid"},"workspaceMember":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"WorkspaceMember"}}},"CalendarChannelEventAssociation":{"type":"object","description":"Calendar Channel Event Associations","properties":{"calendarEventId":{"type":"string","format":"uuid"},"calendarChannelId":{"type":"string","format":"uuid"},"recurringEventExternalId":{"type":"string","description":"Recurring Event ID"},"eventExternalId":{"type":"string","description":"Event external ID"}},"example":{}},"CalendarChannelEventAssociationForUpdate":{"type":"object","description":"Calendar Channel Event Associations","properties":{"calendarEventId":{"type":"string","format":"uuid"},"calendarChannelId":{"type":"string","format":"uuid"},"recurringEventExternalId":{"type":"string","description":"Recurring Event ID"},"eventExternalId":{"type":"string","description":"Event external ID"}},"example":{}},"CalendarChannelEventAssociationForResponse":{"type":"object","description":"Calendar Channel Event Associations","properties":{"calendarEventId":{"type":"string","format":"uuid"},"calendarChannelId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"recurringEventExternalId":{"type":"string","description":"Recurring Event ID"},"eventExternalId":{"type":"string","description":"Event external ID"},"calendarEvent":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CalendarEventForResponse"}],"description":"Event ID"},"calendarChannel":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CalendarChannelForResponse"}],"description":"Channel ID"}}},"CalendarChannel":{"type":"object","description":"Calendar Channels","properties":{"handle":{"type":"string","description":"Handle"},"syncStatus":{"type":"string","enum":["ONGOING","NOT_SYNCED","ACTIVE","FAILED_INSUFFICIENT_PERMISSIONS","FAILED_UNKNOWN"],"description":"Sync status"},"syncStage":{"type":"string","enum":["CALENDAR_EVENT_LIST_FETCH_PENDING","CALENDAR_EVENT_LIST_FETCH_SCHEDULED","CALENDAR_EVENT_LIST_FETCH_ONGOING","CALENDAR_EVENTS_IMPORT_PENDING","CALENDAR_EVENTS_IMPORT_SCHEDULED","CALENDAR_EVENTS_IMPORT_ONGOING","FAILED","FULL_CALENDAR_EVENT_LIST_FETCH_PENDING","PARTIAL_CALENDAR_EVENT_LIST_FETCH_PENDING"],"description":"Sync stage"},"visibility":{"type":"string","enum":["METADATA","SHARE_EVERYTHING"],"description":"Visibility"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"contactAutoCreationPolicy":{"type":"string","enum":["AS_PARTICIPANT_AND_ORGANIZER","AS_PARTICIPANT","AS_ORGANIZER","NONE"],"description":"Automatically create records for people you participated with in an event."},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"syncCursor":{"type":"string","description":"Sync Cursor. Used for syncing events from the calendar provider"},"syncedAt":{"type":"string","format":"date-time","description":"Last sync date"},"syncStageStartedAt":{"type":"string","format":"date-time","description":"Sync stage started at"},"throttleFailureCount":{"type":"integer","description":"Throttle Failure Count"},"connectedAccountId":{"type":"string","format":"uuid"}},"example":{"syncStatus":["ONGOING"],"syncStage":["CALENDAR_EVENT_LIST_FETCH_PENDING"],"visibility":["METADATA"],"contactAutoCreationPolicy":["AS_PARTICIPANT_AND_ORGANIZER"]}},"CalendarChannelForUpdate":{"type":"object","description":"Calendar Channels","properties":{"handle":{"type":"string","description":"Handle"},"syncStatus":{"type":"string","enum":["ONGOING","NOT_SYNCED","ACTIVE","FAILED_INSUFFICIENT_PERMISSIONS","FAILED_UNKNOWN"],"description":"Sync status"},"syncStage":{"type":"string","enum":["CALENDAR_EVENT_LIST_FETCH_PENDING","CALENDAR_EVENT_LIST_FETCH_SCHEDULED","CALENDAR_EVENT_LIST_FETCH_ONGOING","CALENDAR_EVENTS_IMPORT_PENDING","CALENDAR_EVENTS_IMPORT_SCHEDULED","CALENDAR_EVENTS_IMPORT_ONGOING","FAILED","FULL_CALENDAR_EVENT_LIST_FETCH_PENDING","PARTIAL_CALENDAR_EVENT_LIST_FETCH_PENDING"],"description":"Sync stage"},"visibility":{"type":"string","enum":["METADATA","SHARE_EVERYTHING"],"description":"Visibility"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"contactAutoCreationPolicy":{"type":"string","enum":["AS_PARTICIPANT_AND_ORGANIZER","AS_PARTICIPANT","AS_ORGANIZER","NONE"],"description":"Automatically create records for people you participated with in an event."},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"syncCursor":{"type":"string","description":"Sync Cursor. Used for syncing events from the calendar provider"},"syncedAt":{"type":"string","format":"date-time","description":"Last sync date"},"syncStageStartedAt":{"type":"string","format":"date-time","description":"Sync stage started at"},"throttleFailureCount":{"type":"integer","description":"Throttle Failure Count"},"connectedAccountId":{"type":"string","format":"uuid"}},"example":{"syncStatus":["ONGOING"],"syncStage":["CALENDAR_EVENT_LIST_FETCH_PENDING"],"visibility":["METADATA"],"contactAutoCreationPolicy":["AS_PARTICIPANT_AND_ORGANIZER"]}},"CalendarChannelForResponse":{"type":"object","description":"Calendar Channels","properties":{"id":{"type":"string","format":"uuid","description":"Id"},"handle":{"type":"string","description":"Handle"},"syncStatus":{"type":"string","enum":["ONGOING","NOT_SYNCED","ACTIVE","FAILED_INSUFFICIENT_PERMISSIONS","FAILED_UNKNOWN"],"description":"Sync status"},"syncStage":{"type":"string","enum":["CALENDAR_EVENT_LIST_FETCH_PENDING","CALENDAR_EVENT_LIST_FETCH_SCHEDULED","CALENDAR_EVENT_LIST_FETCH_ONGOING","CALENDAR_EVENTS_IMPORT_PENDING","CALENDAR_EVENTS_IMPORT_SCHEDULED","CALENDAR_EVENTS_IMPORT_ONGOING","FAILED","FULL_CALENDAR_EVENT_LIST_FETCH_PENDING","PARTIAL_CALENDAR_EVENT_LIST_FETCH_PENDING"],"description":"Sync stage"},"visibility":{"type":"string","enum":["METADATA","SHARE_EVERYTHING"],"description":"Visibility"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"contactAutoCreationPolicy":{"type":"string","enum":["AS_PARTICIPANT_AND_ORGANIZER","AS_PARTICIPANT","AS_ORGANIZER","NONE"],"description":"Automatically create records for people you participated with in an event."},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"syncCursor":{"type":"string","description":"Sync Cursor. Used for syncing events from the calendar provider"},"syncedAt":{"type":"string","format":"date-time","description":"Last sync date"},"syncStageStartedAt":{"type":"string","format":"date-time","description":"Sync stage started at"},"throttleFailureCount":{"type":"integer","description":"Throttle Failure Count"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"connectedAccountId":{"type":"string","format":"uuid"},"connectedAccount":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ConnectedAccountForResponse"}],"description":"Connected Account"},"calendarChannelEventAssociations":{"type":"array","items":{"$ref":"#/components/schemas/CalendarChannelEventAssociationForResponse"},"description":"Calendar Channel Event Associations"}}},"CalendarEventParticipant":{"type":"object","description":"Calendar event participants","properties":{"handle":{"type":"string","description":"Handle"},"displayName":{"type":"string","description":"Display Name"},"isOrganizer":{"type":"boolean","description":"Is Organizer"},"responseStatus":{"type":"string","enum":["NEEDS_ACTION","DECLINED","TENTATIVE","ACCEPTED"],"description":"Response Status"},"calendarEventId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"workspaceMemberId":{"type":"string","format":"uuid"}},"example":{"responseStatus":["NEEDS_ACTION"]}},"CalendarEventParticipantForUpdate":{"type":"object","description":"Calendar event participants","properties":{"handle":{"type":"string","description":"Handle"},"displayName":{"type":"string","description":"Display Name"},"isOrganizer":{"type":"boolean","description":"Is Organizer"},"responseStatus":{"type":"string","enum":["NEEDS_ACTION","DECLINED","TENTATIVE","ACCEPTED"],"description":"Response Status"},"calendarEventId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"workspaceMemberId":{"type":"string","format":"uuid"}},"example":{"responseStatus":["NEEDS_ACTION"]}},"CalendarEventParticipantForResponse":{"type":"object","description":"Calendar event participants","properties":{"handle":{"type":"string","description":"Handle"},"displayName":{"type":"string","description":"Display Name"},"isOrganizer":{"type":"boolean","description":"Is Organizer"},"responseStatus":{"type":"string","enum":["NEEDS_ACTION","DECLINED","TENTATIVE","ACCEPTED"],"description":"Response Status"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"calendarEventId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"workspaceMemberId":{"type":"string","format":"uuid"},"calendarEvent":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CalendarEventForResponse"}],"description":"Event ID"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"Person"},"workspaceMember":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Workspace Member"}}},"CalendarEvent":{"type":"object","description":"Calendar events","properties":{"location":{"type":"string","description":"Location"},"isCanceled":{"type":"boolean","description":"Is canceled"},"title":{"type":"string","description":"Title"},"description":{"type":"string","description":"Description"},"externalUpdatedAt":{"type":"string","format":"date-time","description":"Update DateTime"},"externalCreatedAt":{"type":"string","format":"date-time","description":"Creation DateTime"},"endsAt":{"type":"string","format":"date-time","description":"End Date"},"startsAt":{"type":"string","format":"date-time","description":"Start Date"},"isFullDay":{"type":"boolean","description":"Is Full Day"},"iCalUID":{"type":"string","description":"iCal UID"},"conferenceSolution":{"type":"string","description":"Conference Solution"},"conferenceLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Meet Link"}},"example":{"conferenceLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://meaty-assist.net/","additionalLinks":[]}}},"CalendarEventForUpdate":{"type":"object","description":"Calendar events","properties":{"location":{"type":"string","description":"Location"},"isCanceled":{"type":"boolean","description":"Is canceled"},"title":{"type":"string","description":"Title"},"description":{"type":"string","description":"Description"},"externalUpdatedAt":{"type":"string","format":"date-time","description":"Update DateTime"},"externalCreatedAt":{"type":"string","format":"date-time","description":"Creation DateTime"},"endsAt":{"type":"string","format":"date-time","description":"End Date"},"startsAt":{"type":"string","format":"date-time","description":"Start Date"},"isFullDay":{"type":"boolean","description":"Is Full Day"},"iCalUID":{"type":"string","description":"iCal UID"},"conferenceSolution":{"type":"string","description":"Conference Solution"},"conferenceLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Meet Link"}},"example":{"conferenceLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://cruel-cop-out.info","additionalLinks":[]}}},"CalendarEventForResponse":{"type":"object","description":"Calendar events","properties":{"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"location":{"type":"string","description":"Location"},"isCanceled":{"type":"boolean","description":"Is canceled"},"title":{"type":"string","description":"Title"},"description":{"type":"string","description":"Description"},"externalUpdatedAt":{"type":"string","format":"date-time","description":"Update DateTime"},"externalCreatedAt":{"type":"string","format":"date-time","description":"Creation DateTime"},"endsAt":{"type":"string","format":"date-time","description":"End Date"},"startsAt":{"type":"string","format":"date-time","description":"Start Date"},"isFullDay":{"type":"boolean","description":"Is Full Day"},"iCalUID":{"type":"string","description":"iCal UID"},"conferenceSolution":{"type":"string","description":"Conference Solution"},"conferenceLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Meet Link"},"id":{"type":"string","format":"uuid","description":"Id"},"calendarEventParticipants":{"type":"array","items":{"$ref":"#/components/schemas/CalendarEventParticipantForResponse"},"description":"Event Participants"},"calendarChannelEventAssociations":{"type":"array","items":{"$ref":"#/components/schemas/CalendarChannelEventAssociationForResponse"},"description":"Calendar Channel Event Associations"}}},"Company":{"type":"object","description":"A company","properties":{"accountOwnerId":{"type":"string","format":"uuid"},"name":{"type":"string","description":"The company name"},"domainName":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company website URL. We use this url to fetch the company icon"},"employees":{"type":"integer","description":"Number of employees in the company"},"linkedinLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company Linkedin account"},"xLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company Twitter/X account"},"annualRecurringRevenue":{"type":"object","properties":{"amountMicros":{"type":"number"},"currencyCode":{"type":"string"}},"description":"Annual Recurring Revenue: The actual or estimated annual revenue of the company"},"address":{"type":"object","properties":{"addressStreet1":{"type":"string"},"addressStreet2":{"type":"string"},"addressCity":{"type":"string"},"addressPostcode":{"type":"string"},"addressState":{"type":"string"},"addressCountry":{"type":"string"},"addressLat":{"type":"number"},"addressLng":{"type":"number"}},"description":"Address of the company"},"idealCustomerProfile":{"type":"boolean","description":"Ideal Customer Profile:  Indicates whether the company is the most suitable and valuable customer for you"},"position":{"type":"number","description":"Company record position"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"}},"example":{"name":"Company name","domainName":{"primaryLinkLabel":"","primaryLinkUrl":"https://favorite-clamp.net","additionalLinks":[]},"linkedinLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://thorough-lace.com","additionalLinks":[]},"xLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://rowdy-tribe.info/","additionalLinks":[]},"annualRecurringRevenue":{"amountMicros":695000000,"currencyCode":"EUR"}}},"CompanyForUpdate":{"type":"object","description":"A company","properties":{"accountOwnerId":{"type":"string","format":"uuid"},"name":{"type":"string","description":"The company name"},"domainName":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company website URL. We use this url to fetch the company icon"},"employees":{"type":"integer","description":"Number of employees in the company"},"linkedinLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company Linkedin account"},"xLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company Twitter/X account"},"annualRecurringRevenue":{"type":"object","properties":{"amountMicros":{"type":"number"},"currencyCode":{"type":"string"}},"description":"Annual Recurring Revenue: The actual or estimated annual revenue of the company"},"address":{"type":"object","properties":{"addressStreet1":{"type":"string"},"addressStreet2":{"type":"string"},"addressCity":{"type":"string"},"addressPostcode":{"type":"string"},"addressState":{"type":"string"},"addressCountry":{"type":"string"},"addressLat":{"type":"number"},"addressLng":{"type":"number"}},"description":"Address of the company"},"idealCustomerProfile":{"type":"boolean","description":"Ideal Customer Profile:  Indicates whether the company is the most suitable and valuable customer for you"},"position":{"type":"number","description":"Company record position"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"}},"example":{"name":"Company name","domainName":{"primaryLinkLabel":"","primaryLinkUrl":"https://outstanding-adult.name/","additionalLinks":[]},"linkedinLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://flickering-redesign.name","additionalLinks":[]},"xLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://sticky-order.biz/","additionalLinks":[]},"annualRecurringRevenue":{"amountMicros":831000000,"currencyCode":"EUR"}}},"CompanyForResponse":{"type":"object","description":"A company","properties":{"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"accountOwnerId":{"type":"string","format":"uuid"},"name":{"type":"string","description":"The company name"},"domainName":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company website URL. We use this url to fetch the company icon"},"employees":{"type":"integer","description":"Number of employees in the company"},"linkedinLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company Linkedin account"},"xLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company Twitter/X account"},"annualRecurringRevenue":{"type":"object","properties":{"amountMicros":{"type":"number"},"currencyCode":{"type":"string"}},"description":"Annual Recurring Revenue: The actual or estimated annual revenue of the company"},"address":{"type":"object","properties":{"addressStreet1":{"type":"string"},"addressStreet2":{"type":"string"},"addressCity":{"type":"string"},"addressPostcode":{"type":"string"},"addressState":{"type":"string"},"addressCountry":{"type":"string"},"addressLat":{"type":"number"},"addressLng":{"type":"number"}},"description":"Address of the company"},"idealCustomerProfile":{"type":"boolean","description":"Ideal Customer Profile:  Indicates whether the company is the most suitable and valuable customer for you"},"position":{"type":"number","description":"Company record position"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]},"workspaceMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"}},"description":"The creator of the record"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"people":{"type":"array","items":{"$ref":"#/components/schemas/PersonForResponse"},"description":"People linked to the company."},"accountOwner":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Your team member responsible for managing the company account"},"taskTargets":{"type":"array","items":{"$ref":"#/components/schemas/TaskTargetForResponse"},"description":"Tasks tied to the company"},"noteTargets":{"type":"array","items":{"$ref":"#/components/schemas/NoteTargetForResponse"},"description":"Notes tied to the company"},"opportunities":{"type":"array","items":{"$ref":"#/components/schemas/OpportunityForResponse"},"description":"Opportunities linked to the company."},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteForResponse"},"description":"Favorites linked to the company"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentForResponse"},"description":"Attachments linked to the company"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivityForResponse"},"description":"Timeline Activities linked to the company"}}},"ConnectedAccount":{"type":"object","description":"A connected account","properties":{"handle":{"type":"string","description":"The account handle (email, username, phone number, etc.)"},"provider":{"type":"string","description":"The account provider"},"accessToken":{"type":"string","description":"Messaging provider access token"},"refreshToken":{"type":"string","description":"Messaging provider refresh token"},"lastSyncHistoryId":{"type":"string","description":"Last sync history ID"},"authFailedAt":{"type":"string","format":"date-time","description":"Auth failed at"},"handleAliases":{"type":"string","description":"Handle Aliases"},"scopes":{"type":"array","items":{"type":"string"},"description":"Scopes"},"connectionParameters":{"type":"object","description":"JSON object containing custom connection parameters"},"accountOwnerId":{"type":"string","format":"uuid"}},"example":{}},"ConnectedAccountForUpdate":{"type":"object","description":"A connected account","properties":{"handle":{"type":"string","description":"The account handle (email, username, phone number, etc.)"},"provider":{"type":"string","description":"The account provider"},"accessToken":{"type":"string","description":"Messaging provider access token"},"refreshToken":{"type":"string","description":"Messaging provider refresh token"},"lastSyncHistoryId":{"type":"string","description":"Last sync history ID"},"authFailedAt":{"type":"string","format":"date-time","description":"Auth failed at"},"handleAliases":{"type":"string","description":"Handle Aliases"},"scopes":{"type":"array","items":{"type":"string"},"description":"Scopes"},"connectionParameters":{"type":"object","description":"JSON object containing custom connection parameters"},"accountOwnerId":{"type":"string","format":"uuid"}},"example":{}},"ConnectedAccountForResponse":{"type":"object","description":"A connected account","properties":{"handle":{"type":"string","description":"The account handle (email, username, phone number, etc.)"},"provider":{"type":"string","description":"The account provider"},"accessToken":{"type":"string","description":"Messaging provider access token"},"refreshToken":{"type":"string","description":"Messaging provider refresh token"},"lastSyncHistoryId":{"type":"string","description":"Last sync history ID"},"authFailedAt":{"type":"string","format":"date-time","description":"Auth failed at"},"handleAliases":{"type":"string","description":"Handle Aliases"},"scopes":{"type":"array","items":{"type":"string"},"description":"Scopes"},"connectionParameters":{"type":"object","description":"JSON object containing custom connection parameters"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"accountOwnerId":{"type":"string","format":"uuid"},"calendarChannels":{"type":"array","items":{"$ref":"#/components/schemas/CalendarChannelForResponse"},"description":"Calendar Channels"},"accountOwner":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Account Owner"},"messageChannels":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelForResponse"},"description":"Message Channels"}}},"FavoriteFolder":{"type":"object","description":"A Folder of favorites","properties":{"position":{"type":"integer","description":"Favorite folder position"},"name":{"type":"string","description":"Name of the favorite folder"}},"example":{"name":"Favorite Folder name"}},"FavoriteFolderForUpdate":{"type":"object","description":"A Folder of favorites","properties":{"position":{"type":"integer","description":"Favorite folder position"},"name":{"type":"string","description":"Name of the favorite folder"}},"example":{"name":"Favorite Folder name"}},"FavoriteFolderForResponse":{"type":"object","description":"A Folder of favorites","properties":{"position":{"type":"integer","description":"Favorite folder position"},"name":{"type":"string","description":"Name of the favorite folder"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteForResponse"},"description":"Favorites in this folder"}}},"Favorite":{"type":"object","description":"A favorite that can be accessed from the left menu","properties":{"opportunityId":{"type":"string","format":"uuid"},"workflowId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"},"workflowRunId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"position":{"type":"integer","description":"Favorite position"},"viewId":{"type":"string","format":"uuid","description":"ViewId"},"forWorkspaceMemberId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"favoriteFolderId":{"type":"string","format":"uuid"}},"example":{}},"FavoriteForUpdate":{"type":"object","description":"A favorite that can be accessed from the left menu","properties":{"opportunityId":{"type":"string","format":"uuid"},"workflowId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"},"workflowRunId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"position":{"type":"integer","description":"Favorite position"},"viewId":{"type":"string","format":"uuid","description":"ViewId"},"forWorkspaceMemberId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"favoriteFolderId":{"type":"string","format":"uuid"}},"example":{}},"FavoriteForResponse":{"type":"object","description":"A favorite that can be accessed from the left menu","properties":{"opportunityId":{"type":"string","format":"uuid"},"workflowId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"},"workflowRunId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"position":{"type":"integer","description":"Favorite position"},"viewId":{"type":"string","format":"uuid","description":"ViewId"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"forWorkspaceMemberId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"favoriteFolderId":{"type":"string","format":"uuid"},"opportunity":{"type":"object","oneOf":[{"$ref":"#/components/schemas/OpportunityForResponse"}],"description":"Favorite opportunity"},"workflow":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowForResponse"}],"description":"Favorite workflow"},"workflowVersion":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowVersionForResponse"}],"description":"Favorite workflow version"},"workflowRun":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowRunForResponse"}],"description":"Favorite workflow run"},"task":{"type":"object","oneOf":[{"$ref":"#/components/schemas/TaskForResponse"}],"description":"Favorite task"},"note":{"type":"object","oneOf":[{"$ref":"#/components/schemas/NoteForResponse"}],"description":"Favorite note"},"forWorkspaceMember":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Favorite workspace member"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"Favorite person"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"Favorite company"},"favoriteFolder":{"type":"object","oneOf":[{"$ref":"#/components/schemas/FavoriteFolderForResponse"}],"description":"The folder this favorite belongs to"}}},"MessageChannelMessageAssociation":{"type":"object","description":"Message Synced with a Message Channel","properties":{"messageChannelId":{"type":"string","format":"uuid"},"direction":{"type":"string","enum":["INCOMING","OUTGOING"],"description":"Message Direction"},"messageThreadExternalId":{"type":"string","description":"Thread id from the messaging provider"},"messageId":{"type":"string","format":"uuid"},"messageExternalId":{"type":"string","description":"Message id from the messaging provider"}},"example":{"direction":["INCOMING"]}},"MessageChannelMessageAssociationForUpdate":{"type":"object","description":"Message Synced with a Message Channel","properties":{"messageChannelId":{"type":"string","format":"uuid"},"direction":{"type":"string","enum":["INCOMING","OUTGOING"],"description":"Message Direction"},"messageThreadExternalId":{"type":"string","description":"Thread id from the messaging provider"},"messageId":{"type":"string","format":"uuid"},"messageExternalId":{"type":"string","description":"Message id from the messaging provider"}},"example":{"direction":["INCOMING"]}},"MessageChannelMessageAssociationForResponse":{"type":"object","description":"Message Synced with a Message Channel","properties":{"messageChannelId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"direction":{"type":"string","enum":["INCOMING","OUTGOING"],"description":"Message Direction"},"messageThreadExternalId":{"type":"string","description":"Thread id from the messaging provider"},"messageId":{"type":"string","format":"uuid"},"messageExternalId":{"type":"string","description":"Message id from the messaging provider"},"messageChannel":{"type":"object","oneOf":[{"$ref":"#/components/schemas/MessageChannelForResponse"}],"description":"Message Channel Id"},"message":{"type":"object","oneOf":[{"$ref":"#/components/schemas/MessageForResponse"}],"description":"Message Id"}}},"MessageChannel":{"type":"object","description":"Message Channels","properties":{"visibility":{"type":"string","enum":["METADATA","SUBJECT","SHARE_EVERYTHING"],"description":"Visibility"},"handle":{"type":"string","description":"Handle"},"type":{"type":"string","enum":["email","sms"],"description":"Channel Type"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"contactAutoCreationPolicy":{"type":"string","enum":["SENT_AND_RECEIVED","SENT","NONE"],"description":"Automatically create People records when receiving or sending emails"},"excludeNonProfessionalEmails":{"type":"boolean","description":"Exclude non professional emails"},"excludeGroupEmails":{"type":"boolean","description":"Exclude group emails"},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"syncCursor":{"type":"string","description":"Last sync cursor"},"syncedAt":{"type":"string","format":"date-time","description":"Last sync date"},"syncStatus":{"type":"string","enum":["ONGOING","NOT_SYNCED","ACTIVE","FAILED_INSUFFICIENT_PERMISSIONS","FAILED_UNKNOWN"],"description":"Sync status"},"syncStage":{"type":"string","enum":["MESSAGE_LIST_FETCH_PENDING","MESSAGE_LIST_FETCH_SCHEDULED","MESSAGE_LIST_FETCH_ONGOING","MESSAGES_IMPORT_PENDING","MESSAGES_IMPORT_SCHEDULED","MESSAGES_IMPORT_ONGOING","FAILED","FULL_MESSAGE_LIST_FETCH_PENDING","PARTIAL_MESSAGE_LIST_FETCH_PENDING"],"description":"Sync stage"},"syncStageStartedAt":{"type":"string","format":"date-time","description":"Sync stage started at"},"throttleFailureCount":{"type":"integer","description":"Throttle Failure Count"},"connectedAccountId":{"type":"string","format":"uuid"}},"example":{"visibility":["METADATA"],"type":["email"],"contactAutoCreationPolicy":["SENT_AND_RECEIVED"],"syncStatus":["ONGOING"],"syncStage":["MESSAGE_LIST_FETCH_PENDING"]}},"MessageChannelForUpdate":{"type":"object","description":"Message Channels","properties":{"visibility":{"type":"string","enum":["METADATA","SUBJECT","SHARE_EVERYTHING"],"description":"Visibility"},"handle":{"type":"string","description":"Handle"},"type":{"type":"string","enum":["email","sms"],"description":"Channel Type"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"contactAutoCreationPolicy":{"type":"string","enum":["SENT_AND_RECEIVED","SENT","NONE"],"description":"Automatically create People records when receiving or sending emails"},"excludeNonProfessionalEmails":{"type":"boolean","description":"Exclude non professional emails"},"excludeGroupEmails":{"type":"boolean","description":"Exclude group emails"},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"syncCursor":{"type":"string","description":"Last sync cursor"},"syncedAt":{"type":"string","format":"date-time","description":"Last sync date"},"syncStatus":{"type":"string","enum":["ONGOING","NOT_SYNCED","ACTIVE","FAILED_INSUFFICIENT_PERMISSIONS","FAILED_UNKNOWN"],"description":"Sync status"},"syncStage":{"type":"string","enum":["MESSAGE_LIST_FETCH_PENDING","MESSAGE_LIST_FETCH_SCHEDULED","MESSAGE_LIST_FETCH_ONGOING","MESSAGES_IMPORT_PENDING","MESSAGES_IMPORT_SCHEDULED","MESSAGES_IMPORT_ONGOING","FAILED","FULL_MESSAGE_LIST_FETCH_PENDING","PARTIAL_MESSAGE_LIST_FETCH_PENDING"],"description":"Sync stage"},"syncStageStartedAt":{"type":"string","format":"date-time","description":"Sync stage started at"},"throttleFailureCount":{"type":"integer","description":"Throttle Failure Count"},"connectedAccountId":{"type":"string","format":"uuid"}},"example":{"visibility":["METADATA"],"type":["email"],"contactAutoCreationPolicy":["SENT_AND_RECEIVED"],"syncStatus":["ONGOING"],"syncStage":["MESSAGE_LIST_FETCH_PENDING"]}},"MessageChannelForResponse":{"type":"object","description":"Message Channels","properties":{"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"visibility":{"type":"string","enum":["METADATA","SUBJECT","SHARE_EVERYTHING"],"description":"Visibility"},"handle":{"type":"string","description":"Handle"},"type":{"type":"string","enum":["email","sms"],"description":"Channel Type"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"contactAutoCreationPolicy":{"type":"string","enum":["SENT_AND_RECEIVED","SENT","NONE"],"description":"Automatically create People records when receiving or sending emails"},"excludeNonProfessionalEmails":{"type":"boolean","description":"Exclude non professional emails"},"excludeGroupEmails":{"type":"boolean","description":"Exclude group emails"},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"syncCursor":{"type":"string","description":"Last sync cursor"},"syncedAt":{"type":"string","format":"date-time","description":"Last sync date"},"syncStatus":{"type":"string","enum":["ONGOING","NOT_SYNCED","ACTIVE","FAILED_INSUFFICIENT_PERMISSIONS","FAILED_UNKNOWN"],"description":"Sync status"},"syncStage":{"type":"string","enum":["MESSAGE_LIST_FETCH_PENDING","MESSAGE_LIST_FETCH_SCHEDULED","MESSAGE_LIST_FETCH_ONGOING","MESSAGES_IMPORT_PENDING","MESSAGES_IMPORT_SCHEDULED","MESSAGES_IMPORT_ONGOING","FAILED","FULL_MESSAGE_LIST_FETCH_PENDING","PARTIAL_MESSAGE_LIST_FETCH_PENDING"],"description":"Sync stage"},"syncStageStartedAt":{"type":"string","format":"date-time","description":"Sync stage started at"},"throttleFailureCount":{"type":"integer","description":"Throttle Failure Count"},"id":{"type":"string","format":"uuid","description":"Id"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"connectedAccountId":{"type":"string","format":"uuid"},"connectedAccount":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ConnectedAccountForResponse"}],"description":"Connected Account"},"messageChannelMessageAssociations":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelMessageAssociationForResponse"},"description":"Messages from the channel."},"messageFolders":{"type":"array","items":{"$ref":"#/components/schemas/MessageFolderForResponse"},"description":"Message Folders"}}},"MessageFolder":{"type":"object","description":"Folder for Message Channel","properties":{"name":{"type":"string","description":"Folder name"},"messageChannelId":{"type":"string","format":"uuid"},"externalId":{"type":"string","description":"External ID"},"isSynced":{"type":"boolean","description":"Is Synced"},"isSentFolder":{"type":"boolean","description":"Is Sent Folder"},"syncCursor":{"type":"string","description":"Sync Cursor"}},"example":{"name":"Message Folder name"}},"MessageFolderForUpdate":{"type":"object","description":"Folder for Message Channel","properties":{"name":{"type":"string","description":"Folder name"},"messageChannelId":{"type":"string","format":"uuid"},"externalId":{"type":"string","description":"External ID"},"isSynced":{"type":"boolean","description":"Is Synced"},"isSentFolder":{"type":"boolean","description":"Is Sent Folder"},"syncCursor":{"type":"string","description":"Sync Cursor"}},"example":{"name":"Message Folder name"}},"MessageFolderForResponse":{"type":"object","description":"Folder for Message Channel","properties":{"name":{"type":"string","description":"Folder name"},"messageChannelId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"externalId":{"type":"string","description":"External ID"},"isSynced":{"type":"boolean","description":"Is Synced"},"isSentFolder":{"type":"boolean","description":"Is Sent Folder"},"syncCursor":{"type":"string","description":"Sync Cursor"},"messageChannel":{"type":"object","oneOf":[{"$ref":"#/components/schemas/MessageChannelForResponse"}],"description":"Message Channel"}}},"MessageParticipant":{"type":"object","description":"Message Participants","properties":{"workspaceMemberId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"messageId":{"type":"string","format":"uuid"},"displayName":{"type":"string","description":"Display Name"},"handle":{"type":"string","description":"Handle"},"role":{"type":"string","enum":["from","to","cc","bcc"],"description":"Role"}},"example":{"role":["from"]}},"MessageParticipantForUpdate":{"type":"object","description":"Message Participants","properties":{"workspaceMemberId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"messageId":{"type":"string","format":"uuid"},"displayName":{"type":"string","description":"Display Name"},"handle":{"type":"string","description":"Handle"},"role":{"type":"string","enum":["from","to","cc","bcc"],"description":"Role"}},"example":{"role":["from"]}},"MessageParticipantForResponse":{"type":"object","description":"Message Participants","properties":{"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"workspaceMemberId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"messageId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"displayName":{"type":"string","description":"Display Name"},"handle":{"type":"string","description":"Handle"},"role":{"type":"string","enum":["from","to","cc","bcc"],"description":"Role"},"workspaceMember":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Workspace member"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"Person"},"message":{"type":"object","oneOf":[{"$ref":"#/components/schemas/MessageForResponse"}],"description":"Message"}}},"Message":{"type":"object","description":"A message sent or received through a messaging channel (email, chat, etc.)","properties":{"headerMessageId":{"type":"string","description":"Message id from the message header"},"subject":{"type":"string","description":"Subject"},"text":{"type":"string","description":"Text"},"receivedAt":{"type":"string","format":"date-time","description":"The date the message was received"},"messageThreadId":{"type":"string","format":"uuid"}},"example":{}},"MessageForUpdate":{"type":"object","description":"A message sent or received through a messaging channel (email, chat, etc.)","properties":{"headerMessageId":{"type":"string","description":"Message id from the message header"},"subject":{"type":"string","description":"Subject"},"text":{"type":"string","description":"Text"},"receivedAt":{"type":"string","format":"date-time","description":"The date the message was received"},"messageThreadId":{"type":"string","format":"uuid"}},"example":{}},"MessageForResponse":{"type":"object","description":"A message sent or received through a messaging channel (email, chat, etc.)","properties":{"headerMessageId":{"type":"string","description":"Message id from the message header"},"subject":{"type":"string","description":"Subject"},"text":{"type":"string","description":"Text"},"receivedAt":{"type":"string","format":"date-time","description":"The date the message was received"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"messageThreadId":{"type":"string","format":"uuid"},"messageChannelMessageAssociations":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelMessageAssociationForResponse"},"description":"Messages from the channel."},"messageThread":{"type":"object","oneOf":[{"$ref":"#/components/schemas/MessageThreadForResponse"}],"description":"Message Thread Id"},"messageParticipants":{"type":"array","items":{"$ref":"#/components/schemas/MessageParticipantForResponse"},"description":"Message Participants"}}},"MessageThread":{"type":"object","description":"A group of related messages (e.g. email thread, chat thread)","properties":{},"example":{}},"MessageThreadForUpdate":{"type":"object","description":"A group of related messages (e.g. email thread, chat thread)","properties":{},"example":{}},"MessageThreadForResponse":{"type":"object","description":"A group of related messages (e.g. email thread, chat thread)","properties":{"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"messages":{"type":"array","items":{"$ref":"#/components/schemas/MessageForResponse"},"description":"Messages from the thread."}}},"Note":{"type":"object","description":"A note","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"bodyV2":{"type":"object","properties":{"blocknote":{"type":"string"},"markdown":{"type":"string"}},"description":"Note body"},"position":{"type":"number","description":"Note record position"},"title":{"type":"string","description":"Note title"}},"example":{}},"NoteForUpdate":{"type":"object","description":"A note","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"bodyV2":{"type":"object","properties":{"blocknote":{"type":"string"},"markdown":{"type":"string"}},"description":"Note body"},"position":{"type":"number","description":"Note record position"},"title":{"type":"string","description":"Note title"}},"example":{}},"NoteForResponse":{"type":"object","description":"A note","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]},"workspaceMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"}},"description":"The creator of the record"},"bodyV2":{"type":"object","properties":{"blocknote":{"type":"string"},"markdown":{"type":"string"}},"description":"Note body"},"position":{"type":"number","description":"Note record position"},"title":{"type":"string","description":"Note title"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteForResponse"},"description":"Favorites linked to the note"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivityForResponse"},"description":"Timeline Activities linked to the note."},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentForResponse"},"description":"Note attachments"},"noteTargets":{"type":"array","items":{"$ref":"#/components/schemas/NoteTargetForResponse"},"description":"Note targets"}}},"NoteTarget":{"type":"object","description":"A note target","properties":{"noteId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"}},"example":{}},"NoteTargetForUpdate":{"type":"object","description":"A note target","properties":{"noteId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"}},"example":{}},"NoteTargetForResponse":{"type":"object","description":"A note target","properties":{"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"noteId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"note":{"type":"object","oneOf":[{"$ref":"#/components/schemas/NoteForResponse"}],"description":"NoteTarget note"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"NoteTarget person"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"NoteTarget company"},"opportunity":{"type":"object","oneOf":[{"$ref":"#/components/schemas/OpportunityForResponse"}],"description":"NoteTarget opportunity"}}},"Opportunity":{"type":"object","description":"An opportunity","properties":{"name":{"type":"string","description":"The opportunity name"},"amount":{"type":"object","properties":{"amountMicros":{"type":"number"},"currencyCode":{"type":"string"}},"description":"Opportunity amount"},"closeDate":{"type":"string","format":"date-time","description":"Opportunity close date"},"stage":{"type":"string","enum":["NEW","SCREENING","MEETING","PROPOSAL","CUSTOMER"],"description":"Opportunity stage"},"position":{"type":"number","description":"Opportunity record position"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"pointOfContactId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"}},"example":{"name":"Opportunity name","amount":{"amountMicros":893000000,"currencyCode":"EUR"},"stage":["NEW"]}},"OpportunityForUpdate":{"type":"object","description":"An opportunity","properties":{"name":{"type":"string","description":"The opportunity name"},"amount":{"type":"object","properties":{"amountMicros":{"type":"number"},"currencyCode":{"type":"string"}},"description":"Opportunity amount"},"closeDate":{"type":"string","format":"date-time","description":"Opportunity close date"},"stage":{"type":"string","enum":["NEW","SCREENING","MEETING","PROPOSAL","CUSTOMER"],"description":"Opportunity stage"},"position":{"type":"number","description":"Opportunity record position"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"pointOfContactId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"}},"example":{"name":"Opportunity name","amount":{"amountMicros":249000000,"currencyCode":"EUR"},"stage":["NEW"]}},"OpportunityForResponse":{"type":"object","description":"An opportunity","properties":{"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"name":{"type":"string","description":"The opportunity name"},"amount":{"type":"object","properties":{"amountMicros":{"type":"number"},"currencyCode":{"type":"string"}},"description":"Opportunity amount"},"closeDate":{"type":"string","format":"date-time","description":"Opportunity close date"},"stage":{"type":"string","enum":["NEW","SCREENING","MEETING","PROPOSAL","CUSTOMER"],"description":"Opportunity stage"},"position":{"type":"number","description":"Opportunity record position"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]},"workspaceMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"}},"description":"The creator of the record"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"pointOfContactId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"pointOfContact":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"Opportunity point of contact"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"Opportunity company"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteForResponse"},"description":"Favorites linked to the opportunity"},"taskTargets":{"type":"array","items":{"$ref":"#/components/schemas/TaskTargetForResponse"},"description":"Tasks tied to the opportunity"},"noteTargets":{"type":"array","items":{"$ref":"#/components/schemas/NoteTargetForResponse"},"description":"Notes tied to the opportunity"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentForResponse"},"description":"Attachments linked to the opportunity"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivityForResponse"},"description":"Timeline Activities linked to the opportunity."}}},"Person":{"type":"object","description":"A person","properties":{"avatarUrl":{"type":"string","description":"Contact’s avatar"},"city":{"type":"string","description":"Contact’s city"},"phones":{"properties":{"additionalPhones":{"type":"array","items":{"type":"string"}},"primaryPhoneCountryCode":{"type":"string"},"primaryPhoneCallingCode":{"type":"string"},"primaryPhoneNumber":{"type":"string"}},"type":"object","description":"Contact’s phone numbers"},"jobTitle":{"type":"string","description":"Contact’s job title"},"xLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Contact’s X/Twitter account"},"linkedinLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Contact’s Linkedin account"},"emails":{"type":"object","properties":{"primaryEmail":{"type":"string"},"additionalEmails":{"type":"array","items":{"type":"string","format":"email"}}},"description":"Contact’s Emails"},"name":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"}},"description":"Contact’s name"},"companyId":{"type":"string","format":"uuid"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"position":{"type":"number","description":"Person record Position"}},"example":{"phones":{"primaryPhoneNumber":"06 10 20 30 40","primaryPhoneCallingCode":"+33","primaryPhoneCountryCode":"FR","additionalPhones":[]},"xLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://sure-footed-brochure.com","additionalLinks":[]},"linkedinLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://harmful-junior.biz/","additionalLinks":[]},"emails":{"primaryEmail":"tyler_dicki@hotmail.com","additionalEmails":null},"name":{"firstName":"Sister","lastName":"Langworth"}}},"PersonForUpdate":{"type":"object","description":"A person","properties":{"avatarUrl":{"type":"string","description":"Contact’s avatar"},"city":{"type":"string","description":"Contact’s city"},"phones":{"properties":{"additionalPhones":{"type":"array","items":{"type":"string"}},"primaryPhoneCountryCode":{"type":"string"},"primaryPhoneCallingCode":{"type":"string"},"primaryPhoneNumber":{"type":"string"}},"type":"object","description":"Contact’s phone numbers"},"jobTitle":{"type":"string","description":"Contact’s job title"},"xLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Contact’s X/Twitter account"},"linkedinLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Contact’s Linkedin account"},"emails":{"type":"object","properties":{"primaryEmail":{"type":"string"},"additionalEmails":{"type":"array","items":{"type":"string","format":"email"}}},"description":"Contact’s Emails"},"name":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"}},"description":"Contact’s name"},"companyId":{"type":"string","format":"uuid"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"position":{"type":"number","description":"Person record Position"}},"example":{"phones":{"primaryPhoneNumber":"06 10 20 30 40","primaryPhoneCallingCode":"+33","primaryPhoneCountryCode":"FR","additionalPhones":[]},"xLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://profuse-angle.name/","additionalLinks":[]},"linkedinLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://meaty-shore.com/","additionalLinks":[]},"emails":{"primaryEmail":"lexus.herzog@yahoo.com","additionalEmails":null},"name":{"firstName":"Branson","lastName":"Harvey"}}},"PersonForResponse":{"type":"object","description":"A person","properties":{"avatarUrl":{"type":"string","description":"Contact’s avatar"},"city":{"type":"string","description":"Contact’s city"},"phones":{"properties":{"additionalPhones":{"type":"array","items":{"type":"string"}},"primaryPhoneCountryCode":{"type":"string"},"primaryPhoneCallingCode":{"type":"string"},"primaryPhoneNumber":{"type":"string"}},"type":"object","description":"Contact’s phone numbers"},"jobTitle":{"type":"string","description":"Contact’s job title"},"xLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Contact’s X/Twitter account"},"linkedinLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Contact’s Linkedin account"},"emails":{"type":"object","properties":{"primaryEmail":{"type":"string"},"additionalEmails":{"type":"array","items":{"type":"string","format":"email"}}},"description":"Contact’s Emails"},"name":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"}},"description":"Contact’s name"},"companyId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]},"workspaceMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"}},"description":"The creator of the record"},"position":{"type":"number","description":"Person record Position"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivityForResponse"},"description":"Events linked to the person"},"calendarEventParticipants":{"type":"array","items":{"$ref":"#/components/schemas/CalendarEventParticipantForResponse"},"description":"Calendar Event Participants"},"messageParticipants":{"type":"array","items":{"$ref":"#/components/schemas/MessageParticipantForResponse"},"description":"Message Participants"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentForResponse"},"description":"Attachments linked to the contact."},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteForResponse"},"description":"Favorites linked to the contact"},"noteTargets":{"type":"array","items":{"$ref":"#/components/schemas/NoteTargetForResponse"},"description":"Notes tied to the contact"},"taskTargets":{"type":"array","items":{"$ref":"#/components/schemas/TaskTargetForResponse"},"description":"Tasks tied to the contact"},"pointOfContactForOpportunities":{"type":"array","items":{"$ref":"#/components/schemas/OpportunityForResponse"},"description":"List of opportunities for which that person is the point of contact"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"Contact’s company"}}},"Task":{"type":"object","description":"A task","properties":{"position":{"type":"number","description":"Task record position"},"assigneeId":{"type":"string","format":"uuid"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"status":{"type":"string","enum":["TODO","IN_PROGRESS","DONE"],"description":"Task status"},"dueAt":{"type":"string","format":"date-time","description":"Task due date"},"bodyV2":{"type":"object","properties":{"blocknote":{"type":"string"},"markdown":{"type":"string"}},"description":"Task body"},"title":{"type":"string","description":"Task title"}},"example":{"status":["TODO"]}},"TaskForUpdate":{"type":"object","description":"A task","properties":{"position":{"type":"number","description":"Task record position"},"assigneeId":{"type":"string","format":"uuid"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"status":{"type":"string","enum":["TODO","IN_PROGRESS","DONE"],"description":"Task status"},"dueAt":{"type":"string","format":"date-time","description":"Task due date"},"bodyV2":{"type":"object","properties":{"blocknote":{"type":"string"},"markdown":{"type":"string"}},"description":"Task body"},"title":{"type":"string","description":"Task title"}},"example":{"status":["TODO"]}},"TaskForResponse":{"type":"object","description":"A task","properties":{"position":{"type":"number","description":"Task record position"},"assigneeId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"id":{"type":"string","format":"uuid","description":"Id"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]},"workspaceMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"}},"description":"The creator of the record"},"status":{"type":"string","enum":["TODO","IN_PROGRESS","DONE"],"description":"Task status"},"dueAt":{"type":"string","format":"date-time","description":"Task due date"},"bodyV2":{"type":"object","properties":{"blocknote":{"type":"string"},"markdown":{"type":"string"}},"description":"Task body"},"title":{"type":"string","description":"Task title"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteForResponse"},"description":"Favorites linked to the task"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivityForResponse"},"description":"Timeline Activities linked to the task."},"assignee":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Task assignee"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentForResponse"},"description":"Task attachments"},"taskTargets":{"type":"array","items":{"$ref":"#/components/schemas/TaskTargetForResponse"},"description":"Task targets"}}},"TaskTarget":{"type":"object","description":"A task target","properties":{"opportunityId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"}},"example":{}},"TaskTargetForUpdate":{"type":"object","description":"A task target","properties":{"opportunityId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"}},"example":{}},"TaskTargetForResponse":{"type":"object","description":"A task target","properties":{"opportunityId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"opportunity":{"type":"object","oneOf":[{"$ref":"#/components/schemas/OpportunityForResponse"}],"description":"TaskTarget opportunity"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"TaskTarget company"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"TaskTarget person"},"task":{"type":"object","oneOf":[{"$ref":"#/components/schemas/TaskForResponse"}],"description":"TaskTarget task"}}},"TimelineActivity":{"type":"object","description":"Aggregated / filtered event to be displayed on the timeline","properties":{"happensAt":{"type":"string","format":"date-time","description":"Creation date"},"name":{"type":"string","description":"Event name"},"properties":{"type":"object","description":"Json value for event details"},"linkedRecordCachedName":{"type":"string","description":"Cached record name"},"linkedRecordId":{"type":"string","format":"uuid","description":"Linked Record id"},"linkedObjectMetadataId":{"type":"string","format":"uuid","description":"Linked Object Metadata Id"},"workspaceMemberId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"workflowId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"},"workflowRunId":{"type":"string","format":"uuid"}},"example":{"name":"Timeline Activity name"}},"TimelineActivityForUpdate":{"type":"object","description":"Aggregated / filtered event to be displayed on the timeline","properties":{"happensAt":{"type":"string","format":"date-time","description":"Creation date"},"name":{"type":"string","description":"Event name"},"properties":{"type":"object","description":"Json value for event details"},"linkedRecordCachedName":{"type":"string","description":"Cached record name"},"linkedRecordId":{"type":"string","format":"uuid","description":"Linked Record id"},"linkedObjectMetadataId":{"type":"string","format":"uuid","description":"Linked Object Metadata Id"},"workspaceMemberId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"workflowId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"},"workflowRunId":{"type":"string","format":"uuid"}},"example":{"name":"Timeline Activity name"}},"TimelineActivityForResponse":{"type":"object","description":"Aggregated / filtered event to be displayed on the timeline","properties":{"happensAt":{"type":"string","format":"date-time","description":"Creation date"},"name":{"type":"string","description":"Event name"},"properties":{"type":"object","description":"Json value for event details"},"linkedRecordCachedName":{"type":"string","description":"Cached record name"},"linkedRecordId":{"type":"string","format":"uuid","description":"Linked Record id"},"linkedObjectMetadataId":{"type":"string","format":"uuid","description":"Linked Object Metadata Id"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"workspaceMemberId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"workflowId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"},"workflowRunId":{"type":"string","format":"uuid"},"workspaceMember":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Event workspace member"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"Event person"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"Event company"},"opportunity":{"type":"object","oneOf":[{"$ref":"#/components/schemas/OpportunityForResponse"}],"description":"Event opportunity"},"note":{"type":"object","oneOf":[{"$ref":"#/components/schemas/NoteForResponse"}],"description":"Event note"},"task":{"type":"object","oneOf":[{"$ref":"#/components/schemas/TaskForResponse"}],"description":"Event task"},"workflow":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowForResponse"}],"description":"Event workflow"},"workflowVersion":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowVersionForResponse"}],"description":"Event workflow version"},"workflowRun":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowRunForResponse"}],"description":"Event workflow run"}}},"ViewField":{"type":"object","description":"(System) View Fields","properties":{"viewId":{"type":"string","format":"uuid"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Field target field"},"isVisible":{"type":"boolean","description":"View Field visibility"},"size":{"type":"integer","description":"View Field size"},"position":{"type":"integer","description":"View Field position"},"aggregateOperation":{"type":"string","enum":["AVG","COUNT","MAX","MIN","SUM","COUNT_EMPTY","COUNT_NOT_EMPTY","COUNT_UNIQUE_VALUES","PERCENTAGE_EMPTY","PERCENTAGE_NOT_EMPTY","COUNT_TRUE","COUNT_FALSE"],"description":"Optional aggregate operation"}},"example":{"fieldMetadataId":"ce04671f-cd61-4596-903e-1919a22a2c8b","aggregateOperation":["AVG"]},"required":["fieldMetadataId"]},"ViewFieldForUpdate":{"type":"object","description":"(System) View Fields","properties":{"viewId":{"type":"string","format":"uuid"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Field target field"},"isVisible":{"type":"boolean","description":"View Field visibility"},"size":{"type":"integer","description":"View Field size"},"position":{"type":"integer","description":"View Field position"},"aggregateOperation":{"type":"string","enum":["AVG","COUNT","MAX","MIN","SUM","COUNT_EMPTY","COUNT_NOT_EMPTY","COUNT_UNIQUE_VALUES","PERCENTAGE_EMPTY","PERCENTAGE_NOT_EMPTY","COUNT_TRUE","COUNT_FALSE"],"description":"Optional aggregate operation"}},"example":{"fieldMetadataId":"ffd9ea45-a848-4593-89c0-a90f234e5e05","aggregateOperation":["AVG"]}},"ViewFieldForResponse":{"type":"object","description":"(System) View Fields","properties":{"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"viewId":{"type":"string","format":"uuid"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Field target field"},"isVisible":{"type":"boolean","description":"View Field visibility"},"size":{"type":"integer","description":"View Field size"},"position":{"type":"integer","description":"View Field position"},"aggregateOperation":{"type":"string","enum":["AVG","COUNT","MAX","MIN","SUM","COUNT_EMPTY","COUNT_NOT_EMPTY","COUNT_UNIQUE_VALUES","PERCENTAGE_EMPTY","PERCENTAGE_NOT_EMPTY","COUNT_TRUE","COUNT_FALSE"],"description":"Optional aggregate operation"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"view":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ViewForResponse"}],"description":"View Field related view"}}},"ViewFilterGroup":{"type":"object","description":"(System) View Filter Groups","properties":{"parentViewFilterGroupId":{"type":"string","format":"uuid","description":"Parent View Filter Group"},"logicalOperator":{"type":"string","enum":["AND","OR","NOT"],"description":"Logical operator for the filter group"},"positionInViewFilterGroup":{"type":"integer","description":"Position in the parent view filter group"},"viewId":{"type":"string","format":"uuid"}},"example":{"logicalOperator":["AND"]}},"ViewFilterGroupForUpdate":{"type":"object","description":"(System) View Filter Groups","properties":{"parentViewFilterGroupId":{"type":"string","format":"uuid","description":"Parent View Filter Group"},"logicalOperator":{"type":"string","enum":["AND","OR","NOT"],"description":"Logical operator for the filter group"},"positionInViewFilterGroup":{"type":"integer","description":"Position in the parent view filter group"},"viewId":{"type":"string","format":"uuid"}},"example":{"logicalOperator":["AND"]}},"ViewFilterGroupForResponse":{"type":"object","description":"(System) View Filter Groups","properties":{"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"parentViewFilterGroupId":{"type":"string","format":"uuid","description":"Parent View Filter Group"},"logicalOperator":{"type":"string","enum":["AND","OR","NOT"],"description":"Logical operator for the filter group"},"positionInViewFilterGroup":{"type":"integer","description":"Position in the parent view filter group"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"viewId":{"type":"string","format":"uuid"},"view":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ViewForResponse"}],"description":"View"}}},"ViewFilter":{"type":"object","description":"(System) View Filters","properties":{"displayValue":{"type":"string","description":"View Filter Display Value"},"viewId":{"type":"string","format":"uuid"},"subFieldName":{"type":"string","description":"Sub field name"},"positionInViewFilterGroup":{"type":"integer","description":"Position in the view filter group"},"viewFilterGroupId":{"type":"string","format":"uuid","description":"View Filter Group"},"value":{"type":"string","description":"View Filter value"},"operand":{"type":"string","description":"View Filter operand"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Filter target field"}},"example":{"fieldMetadataId":"0ff9ea5a-928e-44a5-aabb-e118d02a67f0"},"required":["fieldMetadataId"]},"ViewFilterForUpdate":{"type":"object","description":"(System) View Filters","properties":{"displayValue":{"type":"string","description":"View Filter Display Value"},"viewId":{"type":"string","format":"uuid"},"subFieldName":{"type":"string","description":"Sub field name"},"positionInViewFilterGroup":{"type":"integer","description":"Position in the view filter group"},"viewFilterGroupId":{"type":"string","format":"uuid","description":"View Filter Group"},"value":{"type":"string","description":"View Filter value"},"operand":{"type":"string","description":"View Filter operand"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Filter target field"}},"example":{"fieldMetadataId":"78a0fdc7-0849-43fc-b957-67f57de2a3dd"}},"ViewFilterForResponse":{"type":"object","description":"(System) View Filters","properties":{"displayValue":{"type":"string","description":"View Filter Display Value"},"viewId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"subFieldName":{"type":"string","description":"Sub field name"},"positionInViewFilterGroup":{"type":"integer","description":"Position in the view filter group"},"viewFilterGroupId":{"type":"string","format":"uuid","description":"View Filter Group"},"value":{"type":"string","description":"View Filter value"},"operand":{"type":"string","description":"View Filter operand"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Filter target field"},"view":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ViewForResponse"}],"description":"View Filter related view"}}},"ViewGroup":{"type":"object","description":"(System) View Groups","properties":{"fieldMetadataId":{"type":"string","format":"uuid","description":"View Group target field"},"viewId":{"type":"string","format":"uuid"},"position":{"type":"integer","description":"View Field position"},"fieldValue":{"type":"string","description":"Group by this field value"},"isVisible":{"type":"boolean","description":"View Group visibility"}},"example":{"fieldMetadataId":"4f07bb23-8e6e-4b6f-a10b-a06a7a2e1e15"},"required":["fieldMetadataId"]},"ViewGroupForUpdate":{"type":"object","description":"(System) View Groups","properties":{"fieldMetadataId":{"type":"string","format":"uuid","description":"View Group target field"},"viewId":{"type":"string","format":"uuid"},"position":{"type":"integer","description":"View Field position"},"fieldValue":{"type":"string","description":"Group by this field value"},"isVisible":{"type":"boolean","description":"View Group visibility"}},"example":{"fieldMetadataId":"6ab8bdd5-9691-497f-a6ad-50fc0b019ea1"}},"ViewGroupForResponse":{"type":"object","description":"(System) View Groups","properties":{"fieldMetadataId":{"type":"string","format":"uuid","description":"View Group target field"},"viewId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"position":{"type":"integer","description":"View Field position"},"fieldValue":{"type":"string","description":"Group by this field value"},"isVisible":{"type":"boolean","description":"View Group visibility"},"view":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ViewForResponse"}],"description":"View Group related view"}}},"View":{"type":"object","description":"(System) Views","properties":{"key":{"type":"string","enum":["INDEX"],"description":"View key"},"type":{"type":"string","description":"View type"},"icon":{"type":"string","description":"View icon"},"kanbanFieldMetadataId":{"type":"string","description":"View Kanban column field"},"position":{"type":"number","description":"View position"},"isCompact":{"type":"boolean","description":"Describes if the view is in compact mode"},"openRecordIn":{"type":"string","enum":["SIDE_PANEL","RECORD_PAGE"],"description":"Display the records in a side panel or in a record page"},"kanbanAggregateOperation":{"type":"string","enum":["AVG","COUNT","MAX","MIN","SUM","COUNT_EMPTY","COUNT_NOT_EMPTY","COUNT_UNIQUE_VALUES","PERCENTAGE_EMPTY","PERCENTAGE_NOT_EMPTY","COUNT_TRUE","COUNT_FALSE"],"description":"Optional aggregate operation"},"kanbanAggregateOperationFieldMetadataId":{"type":"string","format":"uuid","description":"Field metadata used for aggregate operation"},"anyFieldFilterValue":{"type":"string","description":"Any field filter value"},"objectMetadataId":{"type":"string","format":"uuid","description":"View target object"},"name":{"type":"string","description":"View name"}},"example":{"key":["INDEX"],"openRecordIn":["SIDE_PANEL"],"kanbanAggregateOperation":["AVG"],"objectMetadataId":"6d9bee96-3e4a-4d0c-bbcf-7d768bc76bfd","name":"View name"},"required":["objectMetadataId"]},"ViewForUpdate":{"type":"object","description":"(System) Views","properties":{"key":{"type":"string","enum":["INDEX"],"description":"View key"},"type":{"type":"string","description":"View type"},"icon":{"type":"string","description":"View icon"},"kanbanFieldMetadataId":{"type":"string","description":"View Kanban column field"},"position":{"type":"number","description":"View position"},"isCompact":{"type":"boolean","description":"Describes if the view is in compact mode"},"openRecordIn":{"type":"string","enum":["SIDE_PANEL","RECORD_PAGE"],"description":"Display the records in a side panel or in a record page"},"kanbanAggregateOperation":{"type":"string","enum":["AVG","COUNT","MAX","MIN","SUM","COUNT_EMPTY","COUNT_NOT_EMPTY","COUNT_UNIQUE_VALUES","PERCENTAGE_EMPTY","PERCENTAGE_NOT_EMPTY","COUNT_TRUE","COUNT_FALSE"],"description":"Optional aggregate operation"},"kanbanAggregateOperationFieldMetadataId":{"type":"string","format":"uuid","description":"Field metadata used for aggregate operation"},"anyFieldFilterValue":{"type":"string","description":"Any field filter value"},"objectMetadataId":{"type":"string","format":"uuid","description":"View target object"},"name":{"type":"string","description":"View name"}},"example":{"key":["INDEX"],"openRecordIn":["SIDE_PANEL"],"kanbanAggregateOperation":["AVG"],"objectMetadataId":"42888ed7-9f14-4a49-afa2-9563ce52ec0c","name":"View name"}},"ViewForResponse":{"type":"object","description":"(System) Views","properties":{"key":{"type":"string","enum":["INDEX"],"description":"View key"},"type":{"type":"string","description":"View type"},"icon":{"type":"string","description":"View icon"},"kanbanFieldMetadataId":{"type":"string","description":"View Kanban column field"},"position":{"type":"number","description":"View position"},"isCompact":{"type":"boolean","description":"Describes if the view is in compact mode"},"openRecordIn":{"type":"string","enum":["SIDE_PANEL","RECORD_PAGE"],"description":"Display the records in a side panel or in a record page"},"kanbanAggregateOperation":{"type":"string","enum":["AVG","COUNT","MAX","MIN","SUM","COUNT_EMPTY","COUNT_NOT_EMPTY","COUNT_UNIQUE_VALUES","PERCENTAGE_EMPTY","PERCENTAGE_NOT_EMPTY","COUNT_TRUE","COUNT_FALSE"],"description":"Optional aggregate operation"},"kanbanAggregateOperationFieldMetadataId":{"type":"string","format":"uuid","description":"Field metadata used for aggregate operation"},"anyFieldFilterValue":{"type":"string","description":"Any field filter value"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"objectMetadataId":{"type":"string","format":"uuid","description":"View target object"},"name":{"type":"string","description":"View name"},"viewSorts":{"type":"array","items":{"$ref":"#/components/schemas/ViewSortForResponse"},"description":"View Sorts"},"viewFields":{"type":"array","items":{"$ref":"#/components/schemas/ViewFieldForResponse"},"description":"View Fields"},"viewGroups":{"type":"array","items":{"$ref":"#/components/schemas/ViewGroupForResponse"},"description":"View Groups"},"viewFilters":{"type":"array","items":{"$ref":"#/components/schemas/ViewFilterForResponse"},"description":"View Filters"},"viewFilterGroups":{"type":"array","items":{"$ref":"#/components/schemas/ViewFilterGroupForResponse"},"description":"View Filter Groups"}}},"ViewSort":{"type":"object","description":"(System) View Sorts","properties":{"viewId":{"type":"string","format":"uuid"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Sort target field"},"direction":{"type":"string","description":"View Sort direction"}},"example":{"fieldMetadataId":"3e01c4c5-55fa-456b-aa1d-89bd7275c8e7"},"required":["fieldMetadataId"]},"ViewSortForUpdate":{"type":"object","description":"(System) View Sorts","properties":{"viewId":{"type":"string","format":"uuid"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Sort target field"},"direction":{"type":"string","description":"View Sort direction"}},"example":{"fieldMetadataId":"9bead423-5dcf-426c-9bcd-c05428fc11ff"}},"ViewSortForResponse":{"type":"object","description":"(System) View Sorts","properties":{"id":{"type":"string","format":"uuid","description":"Id"},"viewId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Sort target field"},"direction":{"type":"string","description":"View Sort direction"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"view":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ViewForResponse"}],"description":"View Sort related view"}}},"WorkflowAutomatedTrigger":{"type":"object","description":"A workflow automated trigger","properties":{"workflowId":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["DATABASE_EVENT","CRON"],"description":"The workflow automated trigger type"},"settings":{"type":"object","description":"The workflow automated trigger settings"}},"example":{"type":["DATABASE_EVENT"],"settings":{}},"required":["type","settings"]},"WorkflowAutomatedTriggerForUpdate":{"type":"object","description":"A workflow automated trigger","properties":{"workflowId":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["DATABASE_EVENT","CRON"],"description":"The workflow automated trigger type"},"settings":{"type":"object","description":"The workflow automated trigger settings"}},"example":{"type":["DATABASE_EVENT"],"settings":{}}},"WorkflowAutomatedTriggerForResponse":{"type":"object","description":"A workflow automated trigger","properties":{"workflowId":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["DATABASE_EVENT","CRON"],"description":"The workflow automated trigger type"},"settings":{"type":"object","description":"The workflow automated trigger settings"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"workflow":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowForResponse"}],"description":"WorkflowAutomatedTrigger workflow"}}},"WorkflowRun":{"type":"object","description":"A workflow run","properties":{"startedAt":{"type":"string","format":"date-time","description":"Workflow run started at"},"workflowId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"},"posi
[...]
